header.header
    .header_wrapper
        .header_column
            a(href=routes.home)
                i.fab.fa-youtube Wetube
        .header_column
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by terms",name="terms")
        .header_column
            ul 
                if !user
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log In
                else 
                    li
                        a(href=`/videos${routes.upload}`) Upload
                    li
                        a(href=routes.me) Profile
                    li
                        a(href=routes.logout) Log Out
                        